<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Новостная лента</h2>

@using (Ajax.BeginForm("IndexSearch", "RssItem", new AjaxOptions { UpdateTargetId = "results", HttpMethod = "post" }))
{
    @Html.AntiForgeryToken()
    <p>
        Источник ленты
        @Html.DropDownList("resource",
    new SelectList(ViewBag.Hosts as IEnumerable<SelectListItem>, "Value", "Text"),
    "Все",
    new { @class = "form-control" })

        @Html.RadioButton("sort", "Date") Сортировать по дате
        @Html.RadioButton("sort", "Url") Сортировать по источнику
    </p>
    <input type="submit" value="Посмотреть" />
}
<br />

<div id="results">
    @Html.Partial("~/Views/Shared/_RssItemGrid.cshtml")
</div>
