@model Rss.MVC.ViewModals.RssItemModel
@using DAL
@using DAL.Extensions

@{
    var resources = from Resource resource in Enum.GetValues(typeof(Resource))
                    select new SelectListItem
                    {
                        Value = resource.ToString(),
                        Text = resource.AsDisplayString()
                    };
}

<h2>Новостная лента</h2>

@using (Ajax.BeginForm("SearchIndex", "RssItem", new AjaxOptions { UpdateTargetId = "results", HttpMethod = "post" }))
{
    <p>
        Источник ленты
        @Html.DropDownList("resource",
    new SelectList(resources, "Value", "Text"),
    new { @class = "form-control" })

        @Html.RadioButton("sort", "Date") Сортировать по дате
        @Html.RadioButton("sort", "Url") Сортировать по источнику
    </p>
    <input type="submit" value="Посмотреть" />
}
<br />

<div id="results">
    @Html.Partial("~/Views/Shared/_RssItemGrid.cshtml", Model)
</div>

@*@Scripts.Render("~/scripts/jquery-3.3.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")*@
@Scripts.Render("~/scripts/RssItem/Index.js")