@model PagedList.IPagedList<Rss.Contract.RssItem>

@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<body>
    <table class="table">
        <tr>
            <th>
                Источник
            </th>
            <th>
                Название новости
            </th>
            <th>
                Описание новости
            </th>
            <th>
                Дата публикации
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.Host)</p>
                </td>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.Link)">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @if (!item.Description.StartsWith("<"))
                    {
                        @Html.DisplayFor(modelItem => item.Description)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </table>

    <br />
    <div class="btn-group">
        <div id="pager">
            Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("IndexSearch",
                new { page = page, sort = ViewBag.Sort, resource = ViewBag.Resource }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.Classic,
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "Post",
            UpdateTargetId = "results"
        }))
        </div>
    </div>
</body>
</html>

@Scripts.Render("~/scripts/RssItem/Index.js")
